<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
  <div class="list-title d-flex align-items-center m-3">
    <h1> <%= @list.name %></h1>
  </div>
    <div>
      <%= link_to "Add a new movie", new_list_bookmark_path(params[:id]),  class: "btn btn-flat" %>
      <%= link_to "Back to lists", lists_path, class:"btn btn-flat" %>
    </div>
</div>
<div class="container">
  <div class="row justify-content-between">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card mb-3" style="max-width: 540px;">
            <p class="card-rating"><%= bookmark.movie.rating %></p>
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="<%= bookmark.movie.poster_url %>" class="card-img" alt="<%=bookmark.movie.title%>">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= bookmark.movie.title %></h5>
            <p class="card-text"><%= bookmark.comment %></p>
            <%= link_to "Delete", bookmark_path(bookmark), method: :delete  %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
